<div class="px-0 py-4 lg:px-0 lg:pl-0 " style="background-color: #060;;">
  <div class="flex items-center justify-between ">
      <div class="flex items-center justify-start rtl:justify-end" >
          <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
              <span class="sr-only">Open sidebar</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
              </svg>
          </button>
          <a class="flex items-center ms-2 md:me-24">
              <img src="assets/img/burkina (1).png" class="h-16 w-17 me-3" alt="FlowBite Logo" /> <!-- Augmenter la taille de l'image -->
              <span class="text-xl font-bold text-white">Deliacte</span> <!-- Styliser le texte -->
          </a>
         
      </div>
      <div class="mr-5">
        <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
   
    <button [routerLink]="'/deliacte/procedure-published'" routerLinkActive="active"
      class="p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none 
      focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:bg-gray-100 bg-gray-100">
     <span class="flex-1 ms-3 whitespace-nowrap">Acceuil</span>
    </button>
    

   <button [routerLink]="'/deliacte/login'" routerLinkActive="active" style="margin-left: 10px;"
    class="p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none 
        focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:bg-gray-100 bg-gray-100" >
        <span class="flex-1 ms-3 whitespace-nowrap">Se Connecter</span>
      </button>
  </div>
  </div>
</div>


<div class="card-grid" >
<div *ngFor="let procedure of procedures" (click)="faireDemande(procedure)">
    <p-card [header]="procedure.name" [subheader]="procedure.description" [style]="{ width: '360px' }" >
      <ng-template pTemplate="header">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img alt="Card" src="assets/img/burkina (1).png" style="width: 100px; height: 100px;" />
          </div>
      </ng-template>
      
      <p>
        Organisation: {{ procedure.organisation.name }} <br />
      </p>
  
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button 
            label="Faire ma demande" 
            (onClick)="soumettre()" 
            type="button" 
            styleClass="p-button-rounded p-button-warning" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            title="Soumettre">
          </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
  
<div id="adduser" 
     [ngClass]="{'hidden': !demandeFor}" 
     tabindex="-1" 
     [attr.aria-hidden]="!demandeFor" 
     class="modal fixed inset-0 z-50 flex justify-center items-center w-full h-full bg-gray-500 bg-opacity-50">

    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Demande
                </h3>
                <button type="button" (click)="fermerModel()"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 
                rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">             
                    <div class="grid gap-6 mb-6 md:grid-cols-2">
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                            <input type="text" id="name" name="name" 
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                            dark:focus:border-blue-500" placeholder="nom" />
                           
                        </div>
                        <div>
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                            <input type="text" id="description" name="description" 
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                            dark:focus:border-blue-500" placeholder="description" />                  
                        </div>
                        <div>
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
                            <p-dropdown   optionValue="id" 
                            optionLabel="name"
                          ></p-dropdown>
                        </div> 
                                              
                    </div>
            </div>

            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button type="button"   style="background-color: #060;" 
                class="text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Valider</button>

                <button  type="button" style="background-color: #ff0000;"  (click)="fermerModel()"
                class="py-2.5 px-5 ms-3 text-sm font-medium text-white  hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full">Annuler</button>
            </div>
        </div>
    </div>
</div>