<div class="px-0 py-4 lg:px-0 lg:pl-0 " style="background-color: #060;;">
    <div class="flex items-center justify-between ">
        <div class="flex items-center justify-start rtl:justify-end" >
            <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
            </button>
            <a class="flex items-center ms-2 md:me-24">
                <img src="assets/img/burkina (1).png" class="h-16 w-17 me-3" alt="FlowBite Logo" /> <!-- Augmenter la taille de l'image -->
                <span class="text-xl font-bold text-white">Deliacte</span> <!-- Styliser le texte -->
            </a>
           
        </div>
        <div class="mr-5">
          <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
     
      <button [routerLink]="'/deliacte/procedure-published'" routerLinkActive="active"
        class="p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none 
        focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:bg-gray-100 bg-gray-100">
       <span class="flex-1 ms-3 whitespace-nowrap">Acceuil</span>
      </button>
      

     <button [routerLink]="'/deliacte/login'" routerLinkActive="active"
      class="p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none 
          focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:bg-gray-100 bg-gray-100" >
          <span class="flex-1 ms-3 whitespace-nowrap">Se Connecter</span>
        </button>
    </div>
    </div>
  </div>


<div class="card-grid">
<div *ngFor="let procedure of procedures">
    <p-card [header]="procedure.name" [subheader]="procedure.description" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img alt="Card" src="assets/img/burkina (1).png" style="width: 100px; height: 100px;" />
          </div>
      </ng-template>
      
      <p>
        Organisation: {{ procedure.organisation.name }} <br />
        Status: {{ procedure.status }} <br />
      </p>
  
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button 
            label="Faire ma demande" 
            (onClick)="soumettre()" 
            type="button" 
            styleClass="p-button-rounded p-button-warning" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            title="Soumettre">
          </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
  