<div *ngIf="loading" 
     style="position:fixed; z-index:1000; top:0; left:0; width:100%; height:100%; 
            background-color:rgba(0,0,0,0.7); display:flex; align-items:center; justify-content:center;">
  
  <p-progressSpinner></p-progressSpinner>
  
</div>
<p-toast></p-toast>

<div class="fixed -top-4 left-0 right-0 px-0 py-4 lg:px-0 lg:pl-0 h-32">
    <div class="min-h-screen flex flex-col">
        <!-- Barre de navigation supérieure aux couleurs du Burkina Faso -->
        <header class="w-full h-2 flex fixed top-0 left-0 z-50">
            <div class="flex-1 bg-burkina-red"></div>
            <div class="flex-1 bg-burkina-yellow"></div>
            <div class="flex-1 bg-burkina-green"></div>
          </header>
          

        <div class="flex-grow flex">
            <!-- Section gauche : Formulaire de création de compte -->
            <div class="w-full lg:w-1/2 flex flex-col justify-center items-center p-8 sm:p-12 relative">

                <!-- BOUTON DE RETOUR À L'ACCUEIL -->
                <div class="absolute top-8 left-8">
                    <a [routerLink]="'/deliacte/login'" class="flex items-center text-sm font-medium text-gray-600 hover:text-gray-900 group">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5 mr-2 transition-transform group-hover:-translate-x-1" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                        </svg>
                        Accueil
                    </a>
                </div>

                <div class="w-full max-w-md">
                    <!-- Logo -->
                    <div class="flex items-center justify-center lg:justify-start mb-8 mt-16 lg:mt-0">
                        <img src="assets/img/armoiriePh.jpeg" alt="Armoiries du Burkina Faso" class="h-14 mr-4">
                        <div class="h-12 w-px bg-gray-300 mr-4"></div>
                        <span class="text-2xl font-bold text-gray-800">deliacte.gov.bf</span>
                    </div>

                    <!-- Titres -->
                    <h1 class="text-4xl font-bold text-gray-900">Créer votre compte</h1>
                    <p class="text-gray-500 mt-2 mb-8">Accès aux services du gouvernement</p>

                    <!-- Formulaire -->
                        <div>
                            <label for="nom" class="block text-sm font-medium text-gray-700">
                                Nom <span class="text-red-500">*</span>
                            </label>
                            <input type="text" [(ngModel)]="utilisateur1.firstName" id="nom" name="nom" placeholder="Saisissez votre nom de famille"
                                class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
                                required>
                                <small class="p-error" *ngIf="submitted && !utilisateur1.firstName">Saisir notre nom.</small>

                        </div>

                        <div>
                            <label for="prenom" class="block text-sm font-medium text-gray-700">
                                Prénom <span class="text-red-500">*</span>
                            </label>
                            <input type="text" id="prenom" [(ngModel)]="utilisateur1.lastName" name="prenom" placeholder="Saisissez votre prénom"
                                class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
                                required>
                                <small class="p-error" *ngIf="submitted && !utilisateur1.lastName">Saisir notre prenom.</small>

                        </div>

                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">
                                Adresse e-mail <span class="text-red-500">*</span>
                            </label>
                            <input type="email" [(ngModel)]="utilisateur1.email" id="email" name="email" placeholder="Saisissez votre e-mail"
                                class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
                                required>
                                <small class="p-error" *ngIf="submitted && !utilisateur1.email">Saisir notre adresse mail.</small>

                        </div>

                        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                            <button  (click)="saveUser()" style="background-color: #060;"
                                class="w-full flex justify-center py-3 px-4 border border-transparent rounded-full shadow-sm text-lg font-medium text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                Créer le compte
                            </button>
                        </div>

                    <!-- Séparateur -->
                    <div class="relative my-8">
                        <div class="absolute inset-0 flex items-center">
                            <div class="w-full border-t border-gray-300"></div>
                        </div>
                        <div class="relative flex justify-center text-sm">
                            <span class="px-2 bg-gray-50 text-gray-500">Ou</span>
                        </div>
                    </div>

                    <!-- Lien de connexion -->
                    <p class="mt-8 text-center text-sm text-gray-600">
                        Vous avez déjà un compte ?
                        <a [routerLink]="'/deliacte/login'"  class="font-medium text-red-600 hover:text-green-700">Connectez-vous</a>
                    </p>
                </div>
            </div>

            <!-- Section droite : Image -->
            <div class="hidden lg:block lg:w-1/2 relative">
                <img class="absolute h-full w-full object-cover" src="assets/img/image2.jpg"
                    alt="Scène de vie au Burkina Faso">
                <div class="absolute inset-0 bg-black opacity-10"></div>
                <div class="absolute bottom-10 left-1/2 -translate-x-1/2 w-3/4">
                    <div class="bg-white/70 backdrop-blur-md p-6 rounded-xl text-center shadow-lg">
                        <p class="text-2xl font-bold text-gray-800">Les services publics, désormais à portée de main.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{width: '40vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
