<h1>Details User</h1>


<p-splitter [style]="{'height': '300px'}">
    <ng-template pTemplate>
        <div class="col-8 flex align-items-center justify-content-center" style="width: 400px;">
            <div class="p-fluid">
                <div class="titleWrap">
                    <label for=""  class="propertyTitle" style="margin-top: 10px;">Nom:</label>
                    <label for=""  class="propertyTitle"  style="margin-top: 10px;">Prenom:</label>

                </div>
                <div class="valueWrap" >
                    <label for=""  class="propertyValue"  style="margin-top: 10px;"> {{utilisateur.firstName}}</label>
                    <label for=""  class="propertyValue"  style="margin-top: 10px;"> {{utilisateur.lastName}}</label>

                </div>
            </div>
        </div>    
    </ng-template>
    <ng-template pTemplate>
        <div class="col-8 flex align-items-center justify-content-center" style="width: 400px;">
            <div class="p-fluid">
                <div class="titleWrap">
                    <label for=""  style="margin-top: 10px;" class="propertyTitle">Email:</label>
                    <label for=""  style="margin-top: 10px;" class="propertyTitle">Organisation:</label>
                    
                </div>
                <div class="valueWrap" >
                    <label for=""  style="margin-top: 10px;"  class="propertyValue" > {{utilisateur.email}}</label>
                    <label for=""  style="margin-top: 10px;" class="propertyValue" > {{utilisateur.userOrganisation.name}}</label>

                </div>
            </div>
        </div>
    </ng-template>
</p-splitter>