<div *ngIf="loading" style="position:absolute;z-index:100;width:100%;height:100%;background-color:black;opacity: 0.7;left:0%;top:0%">
    <div style="position:absolute;z-index:100;top:40%;left:45%;background-color:black;opacity: 0.7;">
     <p-progressSpinner></p-progressSpinner>
    </div>
   </div>
   <header class="h-20 bg-white shadow-md fixed top-0 left-0 lg:left-0 right-0 z-20">
    <div class="h-full flex items-center">
      
      <!-- Logo + Service -->
      <div class="flex items-center h-full text-white font-bold text-lg px-3"
           style="background-color: #060;">
        <img src="assets/img/armoiriePh.jpeg" 
             alt="Armoiries du Burkina Faso" 
             class="h-12 mr-2">
        <span>Service Public</span>
      </div>
  
      <!-- Titre (collé après Service Public et qui prend le reste de la place) -->
      <h1 
          class="flex items-center h-full text-lg font-semibold text-gray-800 truncate px-4 flex-1">
        Bienvenue sur le Portail de Delivrance d'actes Administratifs
      </h1>
      
      <!-- Utilisateur -->
      <div class="flex items-center justify-end h-full px-4 space-x-3">
        <i class="pi pi-user text-gray-600 text-xl"></i>
        <span class="text-gray-600 font-medium">
          {{ user?.firstName }} {{ user?.lastName }}
        </span>
      </div>
  
    </div>
  </header>
  
  
  
<!--div class="fixed top-0 left-0 right-0 px-0 py-4 lg:px-0 lg:pl-0 h-32" style="background-color: #060; z-index: 1000;">
    <div class="flex items-center justify-between ">
        <div class="flex items-center justify-start rtl:justify-end h-24" >
            <button  type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
            </button>
           <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse" >
              <img src="assets/img/armoiriePh.jpeg" class="h24 w-24 me-3" alt="FlowBite Logo" style="background-color: white;width: 120px;" />
              <div class="w-80 text-white">
                <h5>Ministère de la Transition Digitale, des Postes et des Communications Électroniques</h5>
            </div>
            </a>
           
        </div>
        <div class="mr-5">
          <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <div class="flex justify-between items-center pl-4 mx-8">
        <p class="text-xl font-bold text-white mx-4 transition-sneak">{{ user?.firstName }} {{ user?.lastName }}</p>
        <button type="button" [routerLink]="'/deliacte/procedure-published'" routerLinkActive="active" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 
        focus:outline-none bg-white rounded-full border border-gray-200 
        hover:bg-Green-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 
        dark:bg-green-800 dark:text-green-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-green-700">Acceuil</button>
        <button type="button" [routerLink]="'/deliacte/login'" routerLinkActive="active" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none 
        bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:bg-gray-100 focus:z-10 
        focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 
        dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Se Connecter</button>
         
      </div>
      </div>
    </div>
  </div-->
  




<div class="card mt-24">
    <div style="display: inline-flex;">
        <p-button icon="pi pi-arrow-left" (onClick)="retourPage()" [rounded]="true" [text]="true" title="retour en arrière" [raised]="true" severity="help" />
        <!--h1 class="p-4" *ngIf="procedureAff">{{procedureAff.name}}</h1-->
    </div>
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 *ngIf="procedureAff"  class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{procedureAff.name}}</h2>
    </div> 
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

        <div class="grid gap-6 mb-6 md:grid-cols-2" [class.disabled]="isDisabled" >
            <ng-container *ngFor="let champ of champs; let i = index">
                <div *ngIf="demandeFor[i]">
                    <div *ngIf="['TEXT', 'RANGE', 'NUMBER', 'EMAIL', 'PASSWORD', 'DATE'].includes(champ.inputType)" class="col-span-1">
                        <label [for]="'input-' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ champ.name }} <span class="text-red-500">*</span></label>
                        <input [type]="champ.inputType" [id]="'input-' + i" 
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                            required [(ngModel)]="demandeFor[i].name"/>
                            <small class="p-error" *ngIf="submitted && champ.isRequired && !demandeFor[i].name"> {{champ.name}} est requis.</small>

                    </div>
                    <div *ngIf="champ.inputType === 'TEXTAREA'" class="col-span-1">
                        <label [for]="'input-' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ champ.name }} <span class="text-red-500">*</span></label>
                        <textarea id="message" rows="4" [(ngModel)]="demandeFor[i].name" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                        <small class="p-error" *ngIf="submitted && champ.isRequired && !demandeFor[i].name"> {{champ.name}} est requis.</small>

                    </div>
                    <div *ngIf="['RADIO'].includes(champ.inputType)" class="col-span-1">
                        <label [for]="'input-' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ champ.name }} <span class="text-red-500">*</span></label>
                        <div class="flex flex-wrap" *ngIf="champ.options">
                            <div *ngFor="let option of champ.options; let j = index"> 
                                <div class="flex items-center me-4">
                                    <input 
                                        [id]="'option-' + i + '-' + j" 
                                        type="RADIO" 
                                        [value]="option.name" 
                                        name="radio-group-{{i}}"                    
                                        [(ngModel)]="demandeFor[i].name"    
                                        class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label [for]="'option-' + i + '-' + j" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{option.name}}</label>
                                    <small class="p-error" *ngIf="submitted && champ.isRequired && !demandeFor[i].name"> {{champ.name}} est requis.</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="['CHECKBOX'].includes(champ.inputType)" class="col-span-1">
                        <label [for]="'input-' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ champ.name }}<span class="text-red-500">*</span></label>
                        <div class="flex flex-wrap" *ngIf="champ.options">
                            <div *ngFor="let option of champ.options; let j = index"> 
                                <div class="flex items-center me-4">
                                    <input 
                                        [id]="'option-' + i + '-' + j" 
                                        type="CHECKBOX" 
                                        [value]="option.name" 
                                        [(ngModel)]="demandeFor[i].name"  
                                        (change)="onOptionChange(option, i)" 
                                        class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label [for]="'option-' + i + '-' + j" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{option.name}}</label>
                                    <small class="p-error" *ngIf="submitted && champ.isRequired && !demandeFor[i].name"> {{champ.name}} est requis.</small>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="['PDF', 'FILE', 'IMAGE'].includes(champ.inputType)" class="col-span-1">
                        <!-- Label for the input field, placed above the input and button -->
                        <label [for]="'input-' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{ champ.name }}
                        </label>
                    
                        <!-- Container for input and save button, placed in the same line -->
                        <div class="flex items-center space-x-4">
                            <!-- File input element -->
                            <input class="block w-4/5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" 
                                id="file_input_{{i}}" 
                                type="file" 
                                (change)="onFileChange($event, i)">
                    
                            <!-- Save Button -->
                            <button (click)="saveFile()" style="background-color: #060;"  class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                                Save
                            </button>
                        </div>
                    </div>          
                    <div *ngIf="champ.inputType === 'SELECT'" class="col-span-1">
                        <label [for]="'input-' + i" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ champ.name }}<span class="text-red-500">*</span></label>
                        <select [id]="'select-' + i" [(ngModel)]="demandeFor[i].name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Choisir {{ champ.name }}</option>
                            <option *ngFor="let option of champ.options" [value]="option.name">{{ option.name }}</option>
                        </select>
                        <small class="p-error" *ngIf="submitted && champ.isRequired && !demandeFor[i].name"> {{champ.name}} est requis.</small>

                    </div>
                </div>
            </ng-container>
            
        </div>
        
        <div class="flex">
            <div class="flex items-center h-5">
                <input id="helper-checkbox" aria-describedby="helper-checkbox-text" type="checkbox"
                (change)="infosVerifier()" 
                value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            </div>
            <div class="ms-2 text-sm">
                <label for="helper-checkbox" class="font-medium text-gray-900 dark:text-gray-300">
                    Attention ces informations ne peuvent être modifiées après soumission. Veuillez cocher la case après vérification.
                </label>
            </div>
        </div>
        
        <button (click)="finDemande()" [class.disabled]="!isDisabled" class="mt-4 text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="background-color: #060;">
            Envoyer
        </button>
        
       
    </div>
</div>

<p-confirmDialog [style]="{width: '40vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>



