<h1>Details Organisation</h1>

<p-splitter [style]="{'height': '300px'}">
    <ng-template pTemplate>
        <div class="col-8 flex align-items-center justify-content-center" style="width: 400px;">
            <div class="p-fluid">
                <div class="titleWrap">
                    <label for=""  class="propertyTitle" style="margin-top: 10px;">Nom :</label>
                    <label for=""  class="propertyTitle"  style="margin-top: 10px;">Organisation Parent :</label>

                </div>
                <div class="valueWrap" >
                    <label for=""  class="propertyValue"  style="margin-top: 10px;" *ngIf="organisation.name===''"> </label>
                    <label for=""  class="propertyValue"  style="margin-top: 10px;" *ngIf="organisation.name!==''"> {{organisation.name}}</label>
                    <label for=""  class="propertyValue"  style="margin-top: 10px;" *ngIf="organisation.parentOrganisation?.name===''"> ""</label>

                    <label for=""  class="propertyValue"  style="margin-top: 10px;"> {{organisation.parentOrganisation?.name}}</label>

                </div>
            </div>
        </div>    
    </ng-template>
    <ng-template pTemplate>
        <div class="col-8 flex align-items-center justify-content-center" style="width: 400px;">
            <div class="p-fluid">
                <div class="titleWrap">
                    <label for=""  style="margin-top: 10px;" class="propertyTitle">Description :</label>
                   
                </div>
                <div class="valueWrap" >
                    <label for=""  style="margin-top: 10px;"  class="propertyValue" > {{organisation.description}}</label>
                   
                </div>
            </div>
        </div>
    </ng-template>
</p-splitter>
<p-divider align="center">
    <div class="inline-flex align-items-center" style="color:#060;">
        <i class="pi pi-info-circle user"></i>
        <b>Administrateur d'organisation</b>
    </div>
</p-divider>

<p-panel header="Administrateur d'organisation">

    <div class="card">
        <p-table #dt [value]="utilisateurs"  styleClass="p-datatable-customers" [rowHover]="true" 
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15,25,50]" dataKey="id"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [globalFilterFields]="['firstName']">
    
         <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto cherch">
                    <i class="pi pi-search" ></i>
                    <input 
                        pInputText 
                        type="text" 
                        #searchInput 
                        (input)="dt.filterGlobal(searchInput.value, 'contains')" 
                        placeholder="      Rechercher" />
                </span>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr class="tableEnt">
                <!--th style="width: 4rem,">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th-->
                <th >Nom</th>
                <th >Prenom</th>
                <th >Email</th>
                <th >Statut</th>
            </tr>
    
            
        </ng-template>
        <ng-template id="bodi" pTemplate="body" let-utilisateur>
            <tr class="p-selectable-row tableContenu">
                <!--td>
                    <p-tableCheckbox  class="rounded-lg" [value]="utilisateur"></p-tableCheckbox>
                </td-->
                <td>
                   {{utilisateur.firstName}}
                </td>
                <td >
                    {{ utilisateur.lastName }}
                </td>
               
                <td>
                    {{utilisateur.email}}
                </td>
                <td>
                    {{utilisateur.isActive}}
                </td>
             
              
            </tr>
        </ng-template>
        </p-table>
    
    </div>
</p-panel>
  