<h1>Details Organisation</h1>

<div class="card">
    <div class="grid" style="display: inline-flex;">
        <div class="col-5 flex align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="titleWrap">
                </div>
                <div class="valueWrap" >
                </div>
            </div>
        </div>
        <div class="col-2" >
            <p-divider layout="vertical">
                <b>Nom : Ministère de la Transition Digital</b>
            </p-divider>
        </div>
        <div class="col-2" >
            <p-divider layout="vertical">
                <b>Parent : MTDPCE</b>
            </p-divider>
        </div>
        <div class="col-5 flex align-items-center justify-content-center" style="background-color: azure;">
        </div>
    </div>
</div>