<div style="display: inline-flex;">
    <p-button icon="pi pi-arrow-left z-50" (onClick)="retourPage()" [rounded]="true" [text]="true" title="retour en arrière" [raised]="true" severity="help" />
    <h1 class="p-4">Details Organisation</h1>

</div>

<div class="card">
    <h4 class="card-title">-- Details Organisation --</h4>
    <div class="input-container">
        <!-- Champ 1 -->
        <div class="input-item">
            <label for="inputField1" class="custom-label">Nom de l'organisation</label>
            <input
                id="inputField1"
                type="text"
                pInputText
                [value]="organisation.name"

                class="custom-input"
                readonly
            />
        </div>
        <!-- Champ 2 -->

        <div class="input-item">
            <label for="inputField1" class="custom-label">Description</label>
            <input
                id="inputField1"
                type="text"
                pInputText
                class="custom-input"
                readonly
                [value]="organisation.description"

            />
        </div>

        <!-- Champ 3 -->
        <div class="input-item">
            <label for="inputField1" class="custom-label">Oganisation parent </label>
            <input
                id="inputField1"
                type="text"
                pInputText
                class="custom-input"
                readonly
                [value]="organisation.parentOrganisation?.name ? organisation.parentOrganisation.name : '---------------'"

            />
        </div>
        
    </div> <br>
</div>


<div class="card">
    <h4 class="card-title z-50">-- Administrateur d'organisation --</h4>
    <p-tabView>
        <p-tabPanel header="Administrateur">
            <div class="card">    
                <p-table #dt  
                [value]="utilisateurs" 
                [rowHover]="true" 
                [rows]="10" 
                [paginator]="true" 
                [rowsPerPageOptions]="[10,25,50]" 
                dataKey="id"
                currentPageReportTemplate="Affichage {first} à {last} sur {totalRecords} organisations"
                [globalFilterFields]="['firstName','lastName','email']"
                class="min-w-full">
   
         <ng-template pTemplate="header">
           <tr class="bg-gray-100 text-left text-sm text-gray-700">
             <th class="px-6 py-3">Nom</th>
             <th class="px-6 py-3">Prénom</th>
             <th class="px-6 py-3">Email</th>
           </tr>
         </ng-template>
   
         <ng-template pTemplate="body" let-utilisateur>
           <tr class="hover:bg-gray-50">
            <td class="px-6 py-3">
                {{utilisateur.firstName || '---'}}
                </td>
                <td class="px-6 py-3">
                    {{ utilisateur.lastName || '---'}}
                </td>
            
                <td class="px-6 py-3">
                    {{utilisateur.email || '---' }}
                </td>
          
           </tr>
         </ng-template>
   
         <ng-template pTemplate="emptymessage">
           <tr>
             <td colspan="4" class="text-center py-4 text-gray-500">Aucun utilisateur disponible</td>
           </tr>
         </ng-template>
   
         <ng-template pTemplate="paginatorleft">
           <div class="text-sm text-gray-600">
             Total: {{ utilisateurs.length || 0 }} utilisateurs
           </div>
         </ng-template>
   
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Procédure">
            <div class="card">
                <p-table #dt1  
                [value]="procedures" 
                [rowHover]="true" 
                [rows]="10" 
                [paginator]="true" 
                [rowsPerPageOptions]="[10,25,50]" 
                dataKey="id"
                currentPageReportTemplate="Affichage {first} à {last} sur {totalRecords} organisations"
                [globalFilterFields]="['name']"
                class="min-w-full">

                    <ng-template pTemplate="header">
                    <tr class="bg-gray-100 text-left text-sm text-gray-700">
                        <th class="px-6 py-3">Nom</th>
                        <th class="px-6 py-3">Description</th>
                        <th class="px-6 py-3">Status</th>
                        
                    </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-procedure>
                    <tr class="hover:bg-gray-50">
                                <td class="px-6 py-3"> 
                                {{procedure.name || '---'}}
                                </td>
                                <td class="px-6 py-3">
                                    {{ procedure.description || '---'}}
                                </td>
                            
                                <td class="px-6 py-3">
                                    {{ parseStatus(procedure.status) || '---'}}
                                </td>
                    </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4" class="text-center py-4 text-gray-500">Aucune procedure disponible</td>
                    </tr>
                    </ng-template>

                    <ng-template pTemplate="paginatorleft">
                    <div class="text-sm text-gray-600">
                        Total: {{ procedures.length || 0 }} procedure
                    </div>
                    </ng-template>

                </p-table>
            </div> 
        </p-tabPanel>
    </p-tabView>
      
</div>
