<div style="display: inline-flex;">
    <p-button icon="pi pi-arrow-left z-50" (onClick)="retourPage()" [rounded]="true" [text]="true" title="retour en arrière" [raised]="true" severity="help" />
    <h1 class="p-4">Details Type Opération</h1>

</div>

<br>



<div class="card">
    <h4 class="card-title">-- Details type opération --</h4>
    <div class="input-container">
        <!-- Champ 1 -->
        <div class="input-item">
            <label for="inputField1" class="custom-label">Nom de l'opération</label>
            <input
                id="inputField1"
                type="text"
                pInputText
                [value]="TypeOperation.name"

                class="custom-input"
                readonly
            />
        </div>
        <!-- Champ 2 -->

        <div class="input-item">
            <label for="inputField1" class="custom-label">Description</label>
            <input
                id="inputField1"
                type="text"
                pInputText
                class="custom-input"
                readonly
                [value]="TypeOperation.description"
            />
        </div>

       
        
    </div> <br>
</div>
<!--div class="card">
    <div class="grid" style="display: inline-flex;">
        <div class="col-6 flex align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="titleWrap">
                    <label for=""  class="propertyTitle">Nom:</label>
                    <label for=""  class="propertyTitle">Description:</label>

                </div>
                <div class="valueWrap" >
                    <label for=""  class="propertyValue" > {{TypeOperation.name}}</label>
                    <label for=""  class="propertyValue" > {{TypeOperation.description}}</label>

                </div>
            </div>
        </div>
        <div class="col-2" >
            <p-divider layout="vertical">
                <b></b>
            </p-divider>
        </div>
       
    </div>
</div-->