a.active {
    font-weight: bold;
    background-color: #060;
    color: white;
  }
  
 a.active svg{
  color: white;
}


:host ::ng-deep .p-password input {
  width: 18rem;
  border-radius: 0.5rem;
  border-color: rgb(209 213 219);
}

.bgImage{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0%;
}