

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 h-24">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Pool Wuri
    </span>
    <ul style="background-color: aquamarine;" class="flex flex-wrap pb-8  items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 dark:bg-gray-800">
        <img src="assets/img/burkina (1).png" class="h24 w-24 me-3" alt="FlowBite Logo" />

    </ul>
    </div>
</footer>
