<div *ngIf="loading" 
     style="position:fixed; z-index:1000; top:0; left:0; width:100%; height:100%; 
            background-color:rgba(0,0,0,0.7); display:flex; align-items:center; justify-content:center;">
  
  <p-progressSpinner></p-progressSpinner>
  
</div>
<div style="display: inline-flex;">
    <p-button icon="pi pi-arrow-left z-50" (onClick)="retourPage()" [rounded]="true" [text]="true" title="retour en arrière" [raised]="true" severity="help" />
    <h1 class="p-4">Details Opération</h1>
</div>

<p-toast></p-toast>

<div class="card opera" *ngIf="operation">
    <h4 class="card-title">-- Détails opération --</h4>
    <div class="input-container">
        <!-- Champ 1 -->
        <div class="input-item">
            <label class="custom-label">Nom de l'opération</label>
            <input
                type="text"
                pInputText
                [value]="operation.name || '---------------'"
                class="custom-input"
                readonly
            />
        </div>

        <!-- Champ 2 -->
        <div class="input-item">
            <label class="custom-label">Statut de l'opération</label>
            <input
                type="text"
                pInputText
                [value]="operation.verbeOperation || '---------------'"
                class="custom-input"
                readonly
            />
        </div>

        <!-- Champ 3 -->
        <div class="input-item" *ngIf="operation.procedure">
            <label class="custom-label">Procédure</label>
            <input
                type="text"
                pInputText
                [value]="operation.procedure.name || '---------------'"
                class="custom-input"
                readonly
            />
        </div>

        <!-- Champ 4 -->
        <div class="input-item">
            <label class="custom-label">Description de l'opération</label>
            <input
                type="text"
                pInputText
                [value]="operation.description || '---------------'"
                class="custom-input"
                readonly
            />
        </div>
    </div>
    <div class="input-container" *ngIf="operationSuivPrece.next">
      <div class="input-item">
        <label class="custom-label">Suivant</label>
        <p-multiSelect
          class="custom-input mSelect"
          [options]="operationSuivPrece.next"
          [(ngModel)]="operation.nextOperationIds"
          optionLabel="name"
          optionValue="id"
          selectedItemsLabel="{0} éléments sélectionnés"
          defaultLabel="Sélectionner..."
          [filter]="true"
          filterPlaceholder="Rechercher..."
        >
        </p-multiSelect>
      </div>
     
      
    </div>
    <div class="input-container" *ngIf="operationSuivPrece.previous">
      <div class="input-item">
        <label class="custom-label">Précédent</label>
        <p-multiSelect
          class="custom-input mSelect"
          [options]="operationSuivPrece.previous"
          [(ngModel)]="operation.previousOperationIds"
          optionLabel="name"
          optionValue="id"
          selectedItemsLabel="{0} éléments sélectionnés"
          defaultLabel="Sélectionner..."
          [filter]="true"
          filterPlaceholder="Rechercher..."
        >
        </p-multiSelect>
      
      </div>
  
  </div>
</div>

<p-divider align="center">
    <div class="inline-flex align-items-center" style="color:#060;">
        <!--i class="pi pi-info-circle user"></i-->
        <b>Document chargement</b>
    </div>
</p-divider>
<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="right">

      <p-fileUpload 
        class="upload-vert custom-upload"
        mode="advanced"
        name="file"
        [url]="'http://188.166.86.36:8080/deliacte/v1/operations/template/' + id"
        accept=".doc,.docx"
        maxFileSize="5000000"
        chooseLabel="Sélectionner un fichier"
        uploadLabel="Téléverser"
        cancelLabel="Annuler"
        invalidFileSizeMessageSummary="Fichier trop gros"
        invalidFileSizeMessageDetail="Le fichier ne doit pas dépasser 5 Mo"
        (onError)="onError($event)"
        (onUpload)="onUpload($event)"
        [style]="{width: '100%'}">

        <!-- Message d’erreur -->
        <div *ngIf="errorMessage" class="mt-2 text-red-600 font-medium">
          {{ errorMessage }}
        </div>

        <!-- Zone drag & drop -->
        <ng-template pTemplate="empty">
          <div class="drag-zone">Glisser-déposer ou appuyez pour choisir un fichier</div>
        </ng-template>
      </p-fileUpload>

    </ng-template>
  </p-toolbar>
</div>

<p-divider align="center">
    <div class="inline-flex align-items-center" style="color:#060;">
        <!--i class="pi pi-info-circle user"></i-->
        <b>Historique</b>
    </div>
</p-divider>
<div class="card opera" >
    <p-tabView>
          <p-tabPanel header="Champ" class="z-50">
            <p-toolbar styleClass="mb-4 gap-2 flex justify-end ">
              <ng-template pTemplate="right">
                <button style="background-color: #060;" (click)="ajouterChamp(operation)"
                  class="ml-auto text-white from-green-400 via-green-500 to-green-600
                  focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 
                  dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" 
                  type="button">
                  Ajouter
                </button>

             
              </ng-template>
            </p-toolbar>
          
            <div class="card">
              <p-table #dt [value]="champs" [reorderableColumns]="true" styleClass="p-datatable-customers" [rowHover]="true" 
                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15,25,50]" dataKey="id"
                [paginator]="true" currentPageReportTemplate="Liste {first} à {last} sur {totalRecords} entrées"
                [globalFilterFields]="['firstName']">
          
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <span class="p-input-icon-left ml-auto cherch">
                      <input pInputText type="text" #searchInput 
                        (input)="dt.filterGlobal(searchInput.value, 'contains')" 
                        placeholder=" Rechercher" />
                    </span>
                  </div>
                </ng-template>
          
                <ng-template pTemplate="header">
                  <tr class="tableEnt">
                    <th style="width:3rem"></th>

                    <th>Nom</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Requis</th>
                    <th>Actions</th>
                  </tr>
                </ng-template>
          
                <ng-template pTemplate="body" let-rowData let-champ  let-index="rowIndex">
                  <tr class="p-selectable-row tableContenu" [pReorderableRow]="index">
                    <td>
                      <span class="pi pi-arrows-v" pReorderableRowHandle></span>
                  </td>
                    <td>{{champ.name}}</td>
                    <td>{{champ.description}}</td>
                    <td>{{champ.inputType}}</td>
                    <td>{{champ.isRequired ? 'oui' : 'non'}}</td>
                    <td>
                      <button type="button" title="Supprimer" style="background-color: #ff0000;" 
                        (click)="supprimerChamp(champ)" 
                        class="text-white from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br 
                        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full 
                        text-sm p-2.5 text-center inline-flex items-center mx-0 pi pi-eraser">
                      </button>
          
                      <button type="button" title="Modifier" style="background-color: #060;" 
                        (click)="editChamp(champ)"
                        class="text-white from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br 
                        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full 
                        text-sm p-2.5 text-center inline-flex items-center mx-1 pi pi-pencil">
                      </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="flex justify-end gap-3 mt-6 p-4 border-t border-gray-200 bg-gray-50/50">
                <button  (click)="ordoner(champs)"  
                class="px-4 py-2 bg-green-600 text-white font-medium rounded-lg hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300" style="background-color: #060;">
                Ordonner
                </button>
                
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Entité">
            <p-toolbar styleClass="mb-4 gap-2 flex justify-end ">
              <ng-template pTemplate="right">
               

                <button style="background-color: #060;" (click)="ajouterEntit(operation)"
                class="ml-auto text-white from-green-400 via-green-500 to-green-600 
                focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 
                dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" 
                type="button">
                Ajouter entité
              </button>
              </ng-template>
            </p-toolbar>
          
            <div class="card">
              <p-table #dt  [value]="entitesOperations"   styleClass="p-datatable-customers" [rowHover]="true" 
                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15,25,50]" dataKey="id"
                [paginator]="true" currentPageReportTemplate="Liste {first} à {last} sur {totalRecords} entrées"
                [globalFilterFields]="['firstName']">
          
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <span class="p-input-icon-left ml-auto cherch">
                      <input pInputText type="text" #searchInput 
                        (input)="dt.filterGlobal(searchInput.value, 'contains')" 
                        placeholder=" Rechercher" />
                    </span>
                  </div>
                </ng-template>
          
                <ng-template pTemplate="header">
                  <tr class="tableEnt">
                    
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Action</th>

                  </tr>
                </ng-template>
          
                <ng-template pTemplate="body" let-entite>
                  <tr class="p-selectable-row tableContenu">
                    <td>{{entite.name}}</td>
                    <td>{{entite.description}}</td>
                  
                    <td>
                      <button type="button" title="Supprimer" style="background-color: #ff0000;" 
                        (click)="retirerEntite(entite)" 
                        class="text-white from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br 
                        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full 
                        text-sm p-2.5 text-center inline-flex items-center mx-0 pi pi-eraser">
                      </button>
          
                      <button type="button" title="Modifier" style="background-color: #060;" 
                        (click)="ajouterChampOperation(entite)"
                        class="text-white from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br 
                        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full 
                        text-sm p-2.5 text-center inline-flex items-center mx-1 pi pi-pencil">
                      </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Groupe Utilisateur">
            <p-toolbar styleClass="mb-4 gap-2 flex justify-end">
              <ng-template pTemplate="right">
                <button style="background-color: #060;" (click)="groupeUser(operation)"
                  class="ml-auto text-white from-green-400 via-green-500 to-green-600 
                  focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 
                  dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" 
                  type="button">
                  Ajouter utilisateur
                </button>
              </ng-template>
            </p-toolbar>
          
            <div class="card">
              <p-table #dt [value]="responsUsers" styleClass="p-datatable-customers" [rowHover]="true" 
                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15,25,50]" dataKey="id"
                [paginator]="true" currentPageReportTemplate="Liste {first} à {last} sur {totalRecords} entrées"
                [globalFilterFields]="['firstName']">
          
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <span class="p-input-icon-left ml-auto cherch">
                      <input pInputText type="text" #searchInput 
                        (input)="dt.filterGlobal(searchInput.value, 'contains')" 
                        placeholder="Rechercher" />
                    </span>
                  </div>
                </ng-template>
          
                <ng-template pTemplate="header">
                  <tr class="tableEnt">
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
          
                <ng-template pTemplate="body" let-utilisateur>
                  <tr class="p-selectable-row tableContenu">
                    <td>{{utilisateur.firstName}}</td>
                    <td>{{utilisateur.lastName}}</td>
                    <td>
                      <button type="button" title="Retirer utilisateur" (click)="retirerUser(utilisateur)"
                        style="background-color: #ff0000;" 
                        class="text-white from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br 
                        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full 
                        text-sm p-2.5 text-center inline-flex items-center mx-0 pi pi-arrow-left">
                      </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
    </p-tabView>
</div>

<div id="addch" 
     [ngClass]="{'hidden': !addchamp}" 
     tabindex="-1" 
     [attr.aria-hidden]="!addchamp" 
     class="modal fixed inset-0 z-50 flex justify-center items-center w-full h-full bg-gray-500 bg-opacity-50">

    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Ajouter un nouveau champ
                </h3>
                <button type="button" (click)="fermerModal()"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 
                rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">             
                    <div class="grid gap-6 mb-6 md:grid-cols-2">
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                            <input type="text" id="name" name="name" [(ngModel)]="champ.name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                            dark:focus:border-blue-500" placeholder="nom" />
                            <small class="p-error" *ngIf="submitted && !champ.name">Ajouter le libellé du champ.</small>

                        </div>
                        <div>
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                            <input type="text" id="description" name="description" [(ngModel)]="champ.description"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                            focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                            dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                            dark:focus:border-blue-500" placeholder="description" />  
                            <small class="p-error" *ngIf="submitted && !champ.description">Ajouter la description.</small>

                        </div>

                        <div>
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
                            <p-dropdown [options]="types" [(ngModel)]="champ.inputType"  optionValue="id" 
                            optionLabel="name"
                          ></p-dropdown>
                          <small class="p-error" *ngIf="submitted && !champ.inputType">Ajouter le type de champ.</small>

                        </div> 
                        <div *ngIf="champ.inputType === 'CHECKBOX' || champ.inputType === 'RADIO' || champ.inputType === 'SELECT'">
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Saisir options</label>
                            <div class="flex items-center">
                                <input 
                                  [(ngModel)]="newOption" 
                                  placeholder="Entrez une option"  
                                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                                         focus:ring-blue-500 focus:border-blue-500 block w-60 p-2.5 
                                         dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                                         dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                />
                                <button 
                                  (click)="addOption()" 
                                  class="ml-2 p-2 bg-green-700 text-white rounded-lg">
                                  Ajouter
                                </button>
                              </div>                       
                        </div> 
                        <div>
                            <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Requis</label>
                            <div class="flex" style="margin-top: 15px;" >
                                <div class="flex items-center me-4">
                                    <input id="inline-radio" type="radio" [(ngModel)]="champ.isRequired" value="true" name="inline-radio-group" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="inline-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Oui</label>
                                </div>
                                <div class="flex items-center me-4">
                                    <input id="inline-2-radio" type="radio" [(ngModel)]="champ.isRequired" value="false" name="inline-radio-group" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="inline-2-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Non</label>
                                </div>
                            </div>
                        </div> 
                        <div *ngIf="champ.inputType === 'CHECKBOX' || champ.inputType === 'RADIO' || champ.inputType === 'SELECT' ">
                            <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Options disponible</label>
                            <p-listbox [options]="champ.options ?? []"  optionLabel="name"></p-listbox>

                        </div> 
                                              
                    </div>
            </div>

            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button type="button"   style="background-color: #060;" (click)="saveChamps()" *ngIf="addbutton"
                class="text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 
                font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 
                dark:hover:bg-green-700 dark:focus:ring-green-800">Valider</button>

                <button type="button"   style="background-color: #060;" (click)="saveChampEdit()" *ngIf="editbutton"
                class="text-white hover:bg-green-800 focus:outline-none focus:ring-4 
                focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center 
                me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Modifier</button>

                <button (click)="fermerModal()" type="button" style="background-color: #ff0000;" 
                class="py-2.5 px-5 ms-3 text-sm font-medium text-white  hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full">Annuler</button>
            </div>
        </div>
    </div>
</div>

<p-dialog 
[(visible)]="addentite" header="Entités" [style]="{width: '900px'}" modal="true"  styleClass="p-fluid custom-dialog">
  <div class="card">
    <p-table [value]="entites" [(selection)]="entitesSelect"  dataKey="id" [tableStyle]="{'min-width': '50rem'}">
      <!-- En-tête -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Nom</th>
          <th>Description</th>
        </tr>
      </ng-template>

      <!-- Corps du tableau -->
      <ng-template pTemplate="body" let-entite>
        <tr>
          <td>
            <p-tableCheckbox [value]="entite"></p-tableCheckbox>
          </td>
          <td>{{ entite.name }}</td>
          <td>{{ entite.description }}</td>
        </tr>
      </ng-template>

    </p-table>

  </div>
  <div class="mt-6">
    <button (click)="fermerModal()" type="button" style="background-color: #ff0000;"  
      class="py-2.5 px-5 ms-3 text-sm font-medium text-white  hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full">Annuler</button>
    <button type="button" style="background-color: #060;" (click)="saveEntite()"
     class="text-white  hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600
      dark:hover:bg-green-700 dark:focus:ring-green-800">Valider
    </button>

  </div>
  
</p-dialog>

<p-dialog [(visible)]="addchampEntite" header="Champs" [style]="{width: '900px'}" modal="true" styleClass="p-fluid">
  <div class="card">
    <p-table [value]="champsEntites"  [(selection)]="champsEntitesSelect"  dataKey="id" [tableStyle]="{'min-width': '50rem'}">

      <!-- En-tête -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Nom</th>
          <th>Description</th>
          <th>Type</th>
          <th>Obligatoire</th>
        </tr>
      </ng-template>

      <!-- Corps du tableau -->
      <ng-template pTemplate="body" let-champ>
        <tr>
          <td>
            <p-tableCheckbox [value]="champ"></p-tableCheckbox>
          </td>
          <td>{{ champ.name }}</td>
          <td>{{ champ.description }}</td>
          <td>{{ champ.inputType }}</td>
          <td>{{ champ.isRequired ? 'Oui' : 'Non' }}</td>
        </tr>
      </ng-template>

    </p-table>

  
  </div>
  <div class="mt-6">
    <button (click)="fermerModal()" type="button" style="background-color: #ff0000;"  
    class="py-2.5 px-5 ms-3 text-sm font-medium text-white  hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full">Annuler</button>
    <button type="button" style="background-color: #060;" (click)="saveChampEntiteOperation()"
    class="text-white  hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 
    font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
    Valider</button>
  
  </div>
  
</p-dialog>

<p-confirmDialog [style]="{width: '40vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-dialog  [(visible)]="listeUser" [style]="{width: '900px'}" modal="true" styleClass="p-fluid" >
    <p-pickList [source]="usergroup1" [target]="usergroup" sourceHeader="Choisir utilisateur" targetHeader="Utilisateurs choisis" [dragdrop]="true"
    [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}" filterBy="nomStructure"
    sourceFilterPlaceholder="Rechercher" targetFilterPlaceholder="Rechercher">
    <ng-template let-user pTemplate="item">
        <div class="product-item">
            <div class="product-list-detail">
                <h5 class="mb-2">Nom: {{user.firstName}}</h5>
                <span class="product-category">Prenom: {{user.lastName}}</span>
                <h5 class="mb-2">{{user.role}}</h5>
              </div>
        </div>
    </ng-template>
    </p-pickList>
    <ng-template pTemplate="footer">
      
        <button (click)="fermerModal()" type="button" style="background-color: #ff0000;"  
        class="py-2.5 px-5 ms-3 text-sm font-medium text-white  hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 rounded-full">Annuler</button>
        <button type="button" style="background-color: #060;" (click)="userSelet()"
        class="text-white  hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Valider</button>

      <!--button pButton pRipple label="Quitter " icon="pi pi-times" class="p-button-text"  style="background-color: #ff0000;"></button>
      <button pButton pRipple label="Ajouter"  icon="pi pi-check" class="p-button-text" style="background-color: #060;" (click)="userSelet()"></button-->
    </ng-template>
</p-dialog>